.navbar{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    /* margin-right: 48.38px; */
}
.navbar_row{
    /* padding-right: 40px; */
}
.leftside{
    border: 1px solid black;
}

@media screen and (max-width :1400px){
    .col1{
        width: 40%;
    }
    .col2{
        width: 20%;
    }
    .col3{
        width: 40%;
    }
}