.box1 {
    flex: 302;
    /* border: 1px solid black; */
    /* height: 50px; */
    display: flex;
    flex-direction: column;
}

.box1Wrap_1 {
    display: flex;
}

.box1_sub {
    display: flex;
    flex-direction: column;
}

.img1 {
    margin-top: 114px;
    width: 101px;
    height: 49px;
}

.img2 {
    height: 114px;
    width: 101px;
}

.tagline {
    width: 234px;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
    font-size: 23px;
    letter-spacing: 0.25px;
    color: #435971;
}
.shortsqueeze{
    text-decoration-color: #FFB800;
}

@media screen and (max-width :1400px){
    .box1{
        width: 100%;
    }
    .box1_sub{
        width: 40%;
    }
    .box2_sub{
        width: 60%;
    }
    .img1 {
        width: 100%;
        height: 80px;
    }
    .img2{
        width: 100%;
        height: 160px;
    }
    .img3{
        width: 100%;
        height: 100%;
    }
    .tagline{
        width: 100%;
        line-height: 40px;
        font-size: 32px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width :1000px){
    .img1{
        height: 70px;
    }
    .img2{
        height: 130px;
    }
    .tagline{
        font-size: 28px;
    }
}